{% extends "base.html" %}

{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<div class="grid">
    <article>
        <h2>Discover the Brachiosaurus</h2>

        <div class="description">
            {{content['description']}}
        </div>

        <div class="card">
            <img src="{{content['avatar']}}" alt="" />
            <dl>
                <dt>Name</dt>
                <dd>{{content['name']}}</dd>
                <dt>Name meaning</dt>
                <dd>{{content['name_meaning']}}</dd>
                <dt>Diet</dt>
                <dd>{{content['diet']}}</dd>
                <dt>Height</dt>
                <dd>{{content['height']}} m.</dd>
                <dt>Length</dt>
                <dd>{{content['length']}} m.</dd>
                <dt>Weight</dt>
                <dd>{{content['weight']}} kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
       {% for aleatoire in aleatoire %}
        <a href="{{aleatoire['slug']}}">
            <figure>
                <img src="{{aleatoire['avatar']}}" alt="" />
                <figcaption>Discover the {{aleatoire['name']}}</figcaption>
            </figure>
        </a>
    {% endfor %}
    </aside>
</div>
{% endblock %}