{% extends "base.html" %}

{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<section>
    <h2>The world of Jurassic Park</h2>

    <!-- iterate here ? -->
    {% for content in content %}
        <a href="dinosaurs/{{content['slug']}}">
            <figure>
                <img src="{{content['avatar']}}" alt="" />
                <figcaption>Discover the {{content['name']}}</figcaption>
            </figure>
        </a>
    {% endfor %}
</section>
{% endblock %}